/* Google Font Integration  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* Default/Common CSS  */

body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
.page-title{
    font-size: 45px;
    line-height: 60px;  
    font-weight: 600;                     
}
.section-gap{
    padding-top: 130px;
}

.course-width, .students-width, .faq-width{
    max-width: 500px;
}

/* Slider section custom CSS */
.carousel-img{
    filter: brightness(50%);
    object-fit: cover;
}
.carousel-caption {
    top: 22%;
    bottom: auto;
    position: absolute;
    right: 25%;
    left: 25%;
}
.slider-h1{
    font-size: 60px;
    line-height: 85px;
    font-weight: 600;
}

/* Popular courses section start here  */
.learning-platform{
    background: #F4FAFD;
    padding: 7%;
}