/* Google Font Integration  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* Common CSS  */

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.primary-color{
    color: #289BDE;
}

.primary-btn{
    background-color: #289BDE;
    color: #fff;
    border: 1px solid #289BDE;
    padding: 13px 33px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 600;
}
.primary-btn:hover{
    background-color: #fff;
    color: #289BDE;
    border: 1px solid #289BDE;
    padding: 13px 33px;
    border-radius: 5px;
    transition: 0.5s;
}

.primary-outline-btn{
    background-color: #fff;
    color: #289BDE;
    border: 1px solid #289BDE;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 33px;
    border-radius: 5px;
    transition: 0.5s;
}
.primary-outline-btn:hover{
    background-color: #289BDE;
    color: #fff;
    border: 1px solid #289BDE;
    padding: 13px 33px;
    border-radius: 5px;
    transition: 0.5s;
}

/* Slider section custom CSS */
.carousel-img{
    filter: brightness(50%);
    object-fit: cover;
}

.carousel-caption {
    top: 22%;
    bottom: auto;
    position: absolute;
    right: 25%;
    left: 25%;
}
.slider-h1{
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
}

/* Popular courses section start here  */
.section-gap{
    padding: 130px 0;
}
.course-title{
    max-width: 500px;
}
/* Media queries for the responsive  */
@media screen and (max-width: 576px){
    .slider-h1{
        font-size: 20px;
        line-height: 30px;
    }
    .carousel-caption {
        top: 20%;
        right: 12%;
        left: 12%;
    }
    .section-gap{
        padding: 40px 0;
    }
    .course-thumb{
        width: 100%;
    }
}
@media screen and (min-width:577px) and (max-width: 992px){
    .slider-h1{
        font-size: 40px;
        line-height: 50px;
    }
    .carousel-caption {
        top: 10%;
    }
    .section-gap{
        padding: 60px 0;
    }
}
@media screen and (max-width: 992px){
    .carousel-img {
        object-fit: cover;
        height: 400px;
    }
}